@model CHE.Web.ViewModels.Cooperatives.CooperativeMembersViewModel
@{
    var membersCount = 1;
}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <ol>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-area="" asp-controller="Cooperatives" asp-action="All">Cooperatives</a></li>
            <li>Details</li>
        </ol>
        <h2>Details </h2>
    </div>
</section><!-- End Breadcrumbs -->

<!-- ======= Members Section ======= -->
<section id="blog" class="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 entries">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Username</th>
                            <th scope="col">Role</th>
                            <th scope="col" colspan="2">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var member in Model.Members)
                        {
                            <tr>
                                <th scope="row">@(membersCount++)</th>
                                <td scope="row">@member.UserName</td>
                                <td scope="row">@member.Role</td>
                                <td><a class="btn btn-che btn-sm" asp-area="Parent" asp-controller="Cooperatives" asp-action="RemoveMember" asp-route-cooperativeId="@member.CooperativeId" asp-route-memberId="@member.UserId">Remove</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-lg-3">
                <div class="sidebar">
                    <h3 class="sidebar-title">Categories</h3>
                    <div class="sidebar-item categories">
                        <ul class="cooperative-sidebar">
                            <li><a asp-area="" asp-controller="Cooperatives" asp-action="Details" asp-route-id="@Model.Id">Info</a></li>
                            <li class="details-active"><a asp-area="Parent" asp-controller="Cooperatives" asp-action="Members" asp-route-id="@Model.Id">Memebers</a></li>
                            <li><a asp-area="Parent" asp-controller="Cooperatives" asp-action="Requests" asp-route-id="@Model.Id">Join requests</a></li>
                            <li><a asp-area="" asp-controller="Schedules" asp-action="Details" asp-route-id="@Model.ScheduleId">Schedule</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Members Section -->
