@using System.Linq;
@model CHE.Web.ViewModels.Cooperatives.CooperativeAllListViewModel
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <ol>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li>Cooperatives</li>
        </ol>
        <h2>Cooperatives</h2>
    </div>
</section><!-- End Breadcrumbs -->
<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a asp-area="Parent" asp-controller="Cooperatives" asp-action="Create" class="btn btn-che">Create new</a>
                <a asp-area="" asp-controller="Cooperatives" asp-action="All" class="btn btn-che">See Yours</a>
            </div>
        </div>
        <hr class="my-4">

        <form method="get" asp-controller="Cooperatives" asp-action="All">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="@Model.Filter.Grade">Filter by grade</label>
                        <select asp-for="@Model.Filter.Grade" class="form-control">
                            @if (Model.Filter.Grade == null)
                            {
                                <option selected disabled>-- Choose grade --</option>
                            }
                            else
                            {
                                <option selected>@Model.Filter.Grade</option>
                            }
                            @foreach (var grade in Model.Grades.Where(x => x != Model.Filter.Grade))
                            {
                                <option>@grade</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="@Model.Filter.City">Filter by city</label>
                        <select asp-for="@Model.Filter.City" class="form-control">
                            @if (Model.Filter.City == null)
                            {
                                <option selected disabled>-- Choose city --</option>
                            }
                            else
                            {
                                <option selected>@Model.Filter.City</option>
                            }
                            @foreach (var city in Model.Cities.Where(x => x != Model.Filter.City))
                            {
                                <option>@city</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="@Model.Filter.Neighbourhood">Filter by neighbourhood</label>
                        <select asp-for="@Model.Filter.Neighbourhood" class="form-control">
                            @if (Model.Filter.Neighbourhood == null)
                            {
                                <option selected disabled>-- Choose neighbourhood --</option>
                            }
                            else
                            {
                                <option selected>@Model.Filter.Neighbourhood</option>
                            }
                            @foreach (var neighbourhood in Model.Neighbourhoods.Where(x => x != Model.Filter.Neighbourhood))
                            {
                                <option>@neighbourhood</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-che">Filter</button>
                    <a asp-controller="Cooperatives" asp-action="All" class="btn btn-che">Clear Filters</a>
                </div>
            </div>
            <hr class="my-4">
            <div class="row">
                @foreach (var cooperative in Model.Cooperatives)
                {
                    <div class="card col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                        <a asp-controller="Cooperatives" asp-action="Details" asp-route-id="@cooperative.Id">
                            <div class="icon-box">
                                <div class="icon"><i class="icofont-users-alt-5"></i></div>
                                <h4>@cooperative.Name</h4>
                                <p>@cooperative.Info</p>
                            </div>
                        </a>
                        <div class="card-footer d-flex justify-content-between">
                            <div><strong>Grade: </strong>@cooperative.Grade</div>
                        </div>
                    </div>
                }
            </div>
        </form>
        <vc:pagination controller="Cooperatives"
                       page-index="@Model.Cooperatives.PageIndex"
                       has-previous-page="@Model.Cooperatives.HasPreviousPage"
                       has-next-page="@Model.Cooperatives.HasNextPage"
                       filter="@Model.Filter">
        </vc:pagination>
    </div>
</section><!-- End Services Section -->