@model CHE.Web.ViewModels.Cooperatives.CooperativesAllListViewModel
@{
    ViewData["Title"] = "Cooperatives";
}
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <ol>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li>Cooperatives</li>
        </ol>
        <h2>Cooperatives</h2>
    </div>
</section><!-- End Breadcrumbs -->
<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">
        @if (this.User.IsInRole(GlobalConstants.ParentRole))
        {
            <div class="row">
                <div class="col-md-12">
                    <a asp-area="Parent" asp-controller="Cooperatives" asp-action="Create" class="btn btn-che">Create new</a>
                    <a asp-area="Parent" asp-controller="Cooperatives" asp-action="All" class="btn btn-che">See Yours</a>
                </div>
            </div>
        }
        <hr class="my-4">
        <form method="get" asp-controller="Cooperatives" asp-action="All">
            <partial name="_FilterPartial" model="@Model.Filter" />
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-che">Filter</button>
                    <a asp-controller="Cooperatives" asp-action="All" class="btn btn-che">Clear Filters</a>
                </div>
            </div>
        </form>
        <hr class="my-4">
        @if (@Model.Cooperatives.Count == 0)
        {
            <div class="row justify-content-center">
                <h4>There are no coopertives!</h4>
            </div>
        }
        else
        {
            <partial name="_CooperativesListPartial" model="Model.Cooperatives" />
            <vc:pagination controller="Cooperatives"
                           page-index="@Model.Cooperatives.PageIndex"
                           has-previous-page="@Model.Cooperatives.HasPreviousPage"
                           has-next-page="@Model.Cooperatives.HasNextPage"
                           filter="@Model.Filter">
            </vc:pagination>
        }
    </div>
</section><!-- End Services Section -->
@section Scripts{ 
    <script>
        $('#header li').removeClass('active');
        $('#header li:nth-child(2)').addClass('active');
    </script>
}