@using CHE.Common
@model CHE.Web.ViewModels.Cooperatives.CooperativeDetailsViewModel

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-area="" asp-controller="Cooperatives" asp-action="All">Cooperatives</a></li>
            <li>Details</li>
        </ol>
        <h2>Details </h2>

    </div>
</section><!-- End Breadcrumbs -->

<!-- ======= Cooperaitve Section ======= -->
<section id="cooperative-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div>
                    <h2>@Model.Name</h2>
                </div>
                <p class="lead">@Model.Info</p>
                <div class="d-flex">
                    <div class="p-2 flex-fill">
                        <h5>Info</h5>
                        <hr />
                        <div><strong>Creator: </strong>@Model.CreatorUserName</div>
                        <div><strong>Grade: </strong>@Model.Grade</div>
                        <div><strong>Members count: </strong>@Model.MembersCount</div>
                    </div>
                    <div class="p-2 flex-fill">
                        <h5>Address</h5>
                        <hr />
                        <div><strong>City: </strong>@Model.Address?.City</div>
                        <div><strong>Neighbourhood: </strong>@Model.Address?.Neighbourhood</div>
                        <div><strong>Street: </strong>@Model.Address?.Street</div>
                    </div>
                </div>
                <hr class="my-4">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                @if (this.User.IsInRole(GlobalConstants.PARENT_ROLE))
                {
                <a class="btn btn-che" asp-area="Parent" asp-controller="JoinRequests" asp-action="Send" asp-route-CooperativeId="@Model.Id">Join</a>
                }
            </div>
        </div>
    </div>
</section><!-- End Cooperaitve Section -->
