@model CHE.Web.ViewModels.Cooperatives.CooperativeDetailsViewModel
@{
    Layout = "/Views/Shared/_LayoutCooperative.cshtml";
    ViewData["currentPage"] = "Details";
}

<div>
    <h2>@Model.Name</h2>
</div>
<p class="lead">@Model.Info</p>
<div class="d-flex">
    <div class="p-2 flex-fill">
        <h5>Info</h5>
        <hr />
        <div><strong>Administrator: </strong>@Model.AdminUserName</div>
        <div><strong>Grade: </strong>@Model.Grade</div>
        <div><strong>Members count: </strong>@Model.MembersCount</div>
    </div>
    <div class="p-2 flex-fill">
        <h5>Address</h5>
        <hr />
        <div><strong>City: </strong>@Model.Address?.City</div>
        <div><strong>Neighbourhood: </strong>@Model.Address?.Neighbourhood</div>
    </div>
</div>
<hr class="my-4">
@if (Model.IsAdmin)
{
    <a class="btn btn-che" asp-area="Parent" asp-controller="Cooperatives" asp-action="Update" asp-route-id="@Model.Id">Update</a>
    <button type="button" class="btn btn-che" data-toggle="modal" data-target="#deleteConfirm">
        Delete
    </button>
}
else
{
    <div class="col-lg-9">
        @if (Model.IsMember)
        {
            <a class="btn btn-che" asp-area="" asp-controller="Cooperatives" asp-action="Leave" asp-route-CooperativeId="@Model.Id">Leave</a>
        }
        else if (Model.PendingRequestId != null)
        {
            <h4>Pending request ...</h4>
            <a class="btn btn-che" asp-area="Parent" asp-controller="JoinRequests" asp-action="Update" asp-route-id="@Model.PendingRequestId">Edit</a>
        }
        else if (!this.User.IsInRole(GlobalConstants.TeacherRole))
        {
            <a class="btn btn-che" asp-area="Parent" asp-controller="JoinRequests" asp-action="Send" asp-route-CooperativeId="@Model.Id">Join</a>
        }
    </div>
}


<!-- ======= Modal ======= -->
<div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete cooperative</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Name: <strong>@Model.Name</strong></h5>
            </div>
            <div class="modal-footer">
                <a class="btn btn-che" asp-area="Parent" asp-controller="Cooperatives" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- End modal -->
