@model CHE.Web.ViewModels.Messengers.MessengerPrivateUsersViewModel;
@{
    Layout = WebConstants.AccountLayout;
    ViewData["currentPage"] = "Messages";
}

<div class="chat-container clearfix">
    <div class="people-list" id="people-list">
        <div class="search">
            <input type="text" placeholder="search" />
            <i class="fa fa-search"></i>
        </div>
        <ul class="list">
            @foreach (var user in Model.Users.Where(x => x.UserId != this.User.GetId()))
            {
                <li class="clearfix">
                    <div class="about">
                        <a class="private-chat" id="@user.UserId">
                            <div class="name">@user.UserUserName</div>
                            <div class="status">
                                <i class="fa fa-circle status-icon offline"></i>
                                <span class="status-text">offline</span>
                            </div>
                        </a>
                    </div>
                </li>
            }
        </ul>
    </div>
    @if (Model.CurrentMessenger != null)
    {
        var receiverName = Model.Users
            .FirstOrDefault(x => x.UserId == Model.CurrentMessenger.CurrentUser).UserUserName;

        <div class="chat">
            <div class="chat-header clearfix">
                <div class="chat-about">
                    <div id="current-msg-receiver" class="chat-with">Chat with: @receiverName</div>
                    <div id="msg-count" class="chat-num-messages">already @Model.CurrentMessenger.Messages.Count() messages</div>
                </div>
            </div> <!-- end chat-header -->
            <div id="history" class="chat-history">
                <ul id="messages-list">
                    @foreach (var message in Model.CurrentMessenger.Messages)
                    {
                        if (message.Sender == receiverName)
                        {
                            <li>
                                <div class="message-data">
                                    <span class="message-data-name">@message.Sender</span>
                                    <span class="message-data-time">@message.CreatedOn</span>
                                </div>
                                <div class="message my-message">
                                    <span>@message.Text</span>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="clearfix">
                                <div class="message-data align-right">
                                    <span class="message-data-time">@message.CreatedOn</span> &nbsp; &nbsp;
                                    <span class="message-data-name">@message.Sender</span>

                                </div>
                                <div class="message other-message float-right">
                                    <span>@message.Text</span>
                                </div>
                            </li>

                        }
                    }
                </ul>
            </div> <!-- end chat-history -->
            <div class="chat-message clearfix">
                <textarea name="message-to-send" id="message-to-send" placeholder="Type your message" rows="3"></textarea>
                <span class="text-danger"></span>
                <button id="send-current-button" messengerId="@Model.CurrentMessenger.Id" receiverId ="@Model.CurrentMessenger.CurrentUser">Send</button>
            </div> <!-- end chat-message -->
        </div> <!-- end chat -->
    }
    else
    {
        <div class="chat">
            <div class="chat-header clearfix">
                <div class="chat-about">
                    <div id="current-msg-receiver" class="chat-with">Start chat</div>
                    <div id="msg-count" class="chat-num-messages"></div>
                </div>
            </div> <!-- end chat-header -->
            <div id="history" class="chat-history">
                <ul id="messages-list">
                    <!-- render messages here -->
                </ul>
            </div> <!-- end chat-history -->
            <div class="chat-message clearfix">
                <textarea name="message-to-send" id="message-to-send" placeholder="Type your message" rows="3" disabled></textarea>
                <span class="text-danger"></span>
                <button id="send-button" disabled>Send</button>
            </div> <!-- end chat-message -->
        </div> <!-- end chat -->
    }

</div>

@section Scripts{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/messenger.js"></script>
}