@model CHE.Web.ViewModels.Teachers.TeacherAllListViewModel

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li>Teachers</li>
        </ol>
        <h2>Teachers</h2>

    </div>
</section><!-- End Breadcrumbs -->
<!-- ======= Services Section ======= -->
<section id="teachers" class="services">
    <div class="container">
        <form method="get" asp-controller="Teachers" asp-action="All">
            <partial name="_FilterPartial" model="@Model.Filter" />
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-che">Filter</button>
                    <a asp-controller="Teachers" asp-action="All" class="btn btn-che">Clear Filters</a>
                </div>
            </div>
        </form>
        <hr class="my-4">
        @if (@Model.Teachers.Count == 0)
        {
            <div class="row justify-content-center">
                <h4>There are no teachers!</h4>
            </div>
        }
        else
        {
            <div class="row">
                @foreach (var teacher in Model.Teachers)
                {
                    <div class="card col-xl-3 col-lg-4 col-sm-6 d-flex align-items-stretch mt-4">
                        <a asp-controller="Teachers" asp-action="Details" asp-route-id="@teacher.Id">
                            <div class="icon-box">
                                <div class="icon">
                                    <img class="card-img-top" src="@teacher.ImageUrl" alt="">
                                </div>
                                <h4>@teacher.UserUserName</h4>
                                <div class="rating-star">
                                    <vc:star-rating rating="@teacher.Rating"></vc:star-rating>
                                    <div class="d-flex justify-content-between">
                                        <div class="card-text"><h6>Rating: @teacher.Rating / 5</h6></div>
                                        <div class="card-text"><h6>Reviews: @teacher.ReviewsCount</h6></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="card-footer d-flex justify-content-between">
                            <div><strong>School level: </strong>@teacher.SchoolLevel</div>
                        </div>
                    </div>
                }
            </div>
        }
        <vc:pagination controller="Teachers"
                       page-index="@Model.Teachers.PageIndex"
                       has-previous-page="@Model.Teachers.HasPreviousPage"
                       has-next-page="@Model.Teachers.HasNextPage"
                       filter="@Model.Filter">
        </vc:pagination>
    </div>
</section><!-- End Services Section -->
