@model CHE.Web.ViewModels.Teachers.TeacherDetailsViewModel

<h1>Teacher portfolio</h1>
<div class="jumbotron">
    <hr class="my-4">
    <div class="row" style="height: 400px">
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a>
                <a class="list-group-item list-group-item-action" id="list-review-list" data-toggle="list" href="#list-review" role="tab" aria-controls="review">Reviews</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list" style="height: 300px">
                    <h5>Info</h5>
                    <hr />
                    <div><strong>First name: </strong>@Model.Portfolio.FirstName</div>
                    <div><strong>Last name: </strong>@Model.Portfolio.LastName</div>
                    <div><strong>Education: </strong>@Model.Portfolio.Education</div>
                    <div><strong>Experience: </strong>@Model.Portfolio.Experience</div>
                    <div><strong>Skills: </strong>@Model.Portfolio.Skills</div>
                    <div><strong>Interests: </strong>@Model.Portfolio.Interests</div>
                    <div><strong>Education level: </strong>@Model.Portfolio.EducationLevel</div>
                </div>
                <div class="tab-pane fade overflow-auto" id="list-review" role="tabpanel" aria-labelledby="list-review-list" style="height: 300px">
                    <vc:reviews-list teacher-id="@Model.Id"></vc:reviews-list>
                </div>
            </div>
        </div>
    </div>
    <hr class="my-4">
    <div class="d-flex justify-content-lg-between">
        <div>
            <a class="btn btn-primary btn-lg" asp-controller="JoinRequests" asp-action="Send" asp-route-receiverId="@Model.Id">Ask to join</a>
            <a class="btn btn-primary btn-lg" asp-controller="Reviews" asp-action="Send" asp-route-teacherId="@Model.Id">Send review</a>
        </div>
        <div>
            <a class="btn btn-primary btn-lg" asp-controller="Teachers" asp-action="All">Back</a>
        </div>
    </div>
</div>
