@model CHE.Web.ViewModels.Teachers.TeacherDetailsViewModel
@{ 
    Layout = WebConstants.TeacherLayout;
}

<div class="row">
    <div class="col-lg-4 image">
        <img src="@Model.Profile.ImageUrl" alt="no picture">
    </div>
    <div class="col-lg-5">
        <h5>Info</h5>
        <hr />
        <div><strong>First name: </strong>@Model.Profile.FirstName</div>
        <div><strong>Last name: </strong>@Model.Profile.LastName</div>
        <div><strong>Education: </strong>@Model.Profile.Education</div>
        <div><strong>Experience: </strong>@Model.Profile.Experience</div>
        <div><strong>Skills: </strong>@Model.Profile.Skills</div>
        <div><strong>Interests: </strong>@Model.Profile.Interests</div>
        <div><strong>School level: </strong>@Model.Profile.SchoolLevel</div>
    </div>           
</div>
<div class="row">
    <div class="col-lg-12">
        <hr class="my-4">
        <div class="d-flex justify-content-lg-between">
            <div>
                @if (this.User.IsParent())
                {
                    if (Model.SentReviewId == null)
                    {
                        <a class="btn btn-che" asp-area="Parent" asp-controller="Reviews" asp-action="Send" asp-route-id="@Model.Id">Send review</a>
                    }
                    <a class="btn btn-che" asp-area="Parent" asp-controller="Messengers" asp-action="SendMessenger" asp-route-receiverId="@Model.UserId">Send message</a>
                }
            </div>
        </div>
    </div>
</div>