@model CHE.Web.ViewModels.FilterViewModel
@{ 
    var levelDisplayName = (string)TempData["levelDisplayName"];
}
<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <label asp-for="@Model.Level">Filter by @levelDisplayName</label>
            <select asp-for="@Model.Level" class="form-control">
                @if (Model.Level == null)
                {
                    <option selected disabled>-- Choose @levelDisplayName --</option>
                }
                else
                {
                    <option selected>@Model.Level</option>
                }
            </select>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <label asp-for="@Model.City">Filter by city</label>
            <select asp-for="@Model.City" class="form-control">
                @if (Model.City == null)
                {
                    <option selected disabled>-- Choose city --</option>
                }
                else
                {
                    <option selected>@Model.City</option>
                }
            </select>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <label asp-for="@Model.Neighbourhood">Filter by neighbourhood</label>
            <select asp-for="@Model.Neighbourhood" class="form-control">
                @if (Model.Neighbourhood == null)
                {
                    <option selected disabled>-- Choose neighbourhood --</option>
                }
                else
                {
                    <option selected>@Model.Neighbourhood</option>
                }
            </select>
        </div>
    </div>
</div>