@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var cooperativeId = (string)ViewData["id"];
    var currentPage = (string)ViewData["currentPage"];
}
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <ol>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-area="" asp-controller="Cooperatives" asp-action="All">Cooperatives</a></li>
            @if (currentPage == "Details")
            {
                <li>Details</li>
            }
            else
            {
                <li><a asp-area="" asp-controller="Cooperatives" asp-action="Details" asp-route-id="@cooperativeId">Details</a></li>
                <li>@currentPage</li>
            }
        </ol>
        <h2>@currentPage</h2>
    </div>
</section>
<!-- End Breadcrumbs -->
<!-- ======= Details Section ======= -->
<section id="blog" class="blog">
    <div class="container">
        <div class="row coop-layout">
            <div class="col-xl-9 col-lg-12 col-sm-12">
                @RenderBody()
            </div>
            <vc:cooperative-layout-nav cooperative-id="@cooperativeId" user-id="@User.GetId()" />
        </div>
    </div>
</section>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $('#header li').removeClass('active');
    $('#header li:nth-child(2)').addClass('active');
</script>
@RenderSection("Scripts", required: false)