
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
    @if (this.User.IsInRole("Teacher"))
    {
        <li class="nav-item"><a class="nav-link @ManageNavPages.PortfolioNavClass(ViewContext)" id="portfolio" asp-page="./Portfolio">Portfolio</a></li>
        <li class="nav-item"><a class="nav-link  @ManageNavPages.JoinRequestNavClass(ViewContext)" id="join-request" asp-page="./JoinRequest">Join requests</a></li>
        <li class="nav-item"><a class="nav-link  @ManageNavPages.ReviewNavClass(ViewContext)" id="review" asp-page="./Review">Reviews</a></li>
    }
    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
</ul>
