@model CHE.Web.ViewModels.Teachers.TeacherReviewsViewModel
@{ 
    var reviewsCount = 1;
}
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <ol>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-area="" asp-controller="Teachers" asp-action="All">Teachers</a></li>
            <li>Details</li>
        </ol>
        <h2>Details </h2>
    </div>
</section><!-- End Breadcrumbs -->

<!-- ======= Requests Section ======= -->
<section id="blog" class="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Rating</th>
                            <th scope="col">Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var review in Model.Reviews)
                        {
                            <tr>
                                <th scope="row">@(reviewsCount++)</th>
                                <td scope="row">@review.Rating / 5</td>
                                <td scope="row">@review.Comment</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-lg-3">
                <div class="sidebar">
                    <h3 class="sidebar-title">Categories</h3>
                    <div class="sidebar-item categories">
                        <ul>
                            <li><a asp-area="" asp-controller="Teachers" asp-action="Details" asp-route-id="@Model.Id">Info</a></li>
                            <li class="details-active"><a asp-area="" asp-controller="Reviews" asp-action="All" asp-route-id="@Model.Id">Reviews</a></li>
                        </ul>
                    </div><!-- End sidebar categories-->
                </div><!-- End sidebar -->
            </div><!-- End calendar sidebar -->
        </div>
    </div>
</section><!-- End Requests Section -->
